In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.model_selection import train_test_split

df = pd.read_csv('/content/sample_data/weather.csv')
df = df.dropna()
# df.head()

#Dropping the target column
print(df['RainTomorrow'].value_counts())
inputs = df.drop('RainTomorrow', axis='columns')
y = df['RainTomorrow']
RainToday_lab = LabelEncoder()

# Labelling and dropping some column
inputs['Rain_Today'] = RainToday_lab.fit_transform(inputs['RainToday'])
inputs_n = inputs.drop(['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RISK_MM', 'RainToday'], axis='columns')
# inputs_n

# Train the data
X = inputs_n[['MaxTemp', 'Evaporation', 'WindSpeed9am', 'Humidity9am', 'Pressure9am']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)


# clf = tree.DecisionTreeClassifier()
# clf.fit(X_test, y_test)
# clf.score(X_test, y_test)
# clf.predict(X_test)

No     268
Yes     60
Name: RainTomorrow, dtype: int64

In [ ]:
X_test

     MaxTemp  Evaporation  WindSpeed9am  Humidity9am  Pressure9am
20      33.4          8.8           2.0           60       1012.4
8       19.5          4.0          19.0           70       1026.1
172     20.6          2.8           9.0           77       1024.8
114     25.1          7.8          20.0           57       1007.4
267     12.9          1.2           7.0           92       1025.7
..       ...          ...           ...          ...          ...
244     13.1          2.8          31.0           62       1013.5
344     22.0          4.4           6.0           82       1028.8
187     16.8          2.8           7.0           70       1018.0
26      22.2          6.6          20.0           70       1021.0
264     11.6          1.4           2.0           68       1025.7

[99 rows x 5 columns]

In [ ]:
clf.predict([[12.3, 2.4, 4.0, 81, 1020.9]])

array(['No'], dtype=object)

In [ ]:
df.head()

   MinTemp  MaxTemp  Rainfall  ...  RainToday  RISK_MM RainTomorrow
0      8.0     24.3       0.0  ...         No      3.6          Yes
1     14.0     26.9       3.6  ...        Yes      3.6          Yes
2     13.7     23.4       3.6  ...        Yes     39.8          Yes
3     13.3     15.5      39.8  ...        Yes      2.8          Yes
4      7.6     16.1       2.8  ...        Yes      0.0           No

[5 rows x 22 columns]

In [ ]:
clf.score(X_test, y_test)

0.8282828282828283